#main .indoor_temp {
	width: 100%;
}

#main .checkbox-inline {
	margin-right:10px;
}

#main input[type='radio'].filter {
	width: 15px;
	height: 15px;
	border-radius: 3px;
	margin-right:3px;
}

#main input[type='radio'].filter:checked {
	border: 3px solid #0000008c;
}

.commute .attend_time, .commute .leave_time {
	margin-left: 4px;
}