@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(/resource/fonts/AppleSDGothicNeoR.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(/resource/fonts/AppleSDGothicNeoM.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(/resource/fonts/AppleSDGothicNeoB.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url(/resource/fonts/AppleSDGothicNeoEB.woff) format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url(/resource/fonts/Lato-Light.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Lato';
  src: url(/resource/fonts/Lato-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url(/resource/fonts/Lato-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Lato';
  src: url(/resource/fonts/Lato-Bold.woff) format('woff');
  font-weight: 700;
}