@charset "utf-8";
/******************* 레이아웃 및 전체 공통 *******************/
.container {max-width: 1500px; padding: 0 10px;}

/* input, button */
.form-control, .form-select, .btn {border-radius: 8px;}
.btn {padding: .375rem .75rem 0.25rem .75rem;}

/* 모달 */
.modal-title {font-weight: 700;}
.modal-open {padding-right: 0 !important; overflow: visible !important;}

/* 토글 스위치 */
label.switch {position: relative; pointer-events: initial !important; height: auto; margin-top: -8px; padding: 0;}
.switch {position: relative; display: inline-block; width: 60px; height:34px;}
.switch input {opacity: 0; width: 0; height: 0 !important;}

.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; height: 16px; width: 16px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
.slider.round {border-radius: 34px; width: 50px; height: 24px;}
.slider.round:before {border-radius: 50%;}

input:checked+.slider {background-color: #2196F3;}
input:focus+.slider {box-shadow: 0 0 1px #2196F3;}
input:checked+.slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}

/******************* 로그인 *******************/
/* 폼박스 공통 */
.form-box {width: 100%; max-width: 560px; padding: 72px 56px; margin: auto; background: #fff; border-radius: 12px; box-shadow: rgb(20,20,20,.3) 4px 16px 36px 0px;}
.form-box .title {margin-bottom: 2.5rem;}
.form-box .title h1 {position: relative; font-weight: 900; font-size: 2.25rem;}
.form-box .title h1:after {content: ''; position: absolute; top: 3px; right: 0; width: 35px; height: 35px; background: rgba(250, 55, 55, 0.5);}
.form-box .title .txt {font-size: 0.938rem; font-weight: 500; line-height: 1.5;}
.form-box .form-floating {position: relative; margin-bottom: 10px; text-align: center;}
.form-box .form-floating > .form-control,
.form-box .form-floating > .form-select {height: 3rem;}
.form-box .form-floating input {padding-left: 2.65rem;}

.form-box .logo {width: 150px; margin-bottom: 3rem;}

.container-signin {display: flex; width: 100%; height: 100vh; background: url(/resource/img/login_bg.jpg) no-repeat center; background-size: cover;}

/* 로그인 입력창 */
.container-signin .form-floating.inputId:before {content: ''; position: absolute; left: 13px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url(/resource/img/mail-line.svg) no-repeat center; background-size: contain;}

.container-signin .form-floating.inputPassword:before {content: ''; position: absolute; left: 13px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url(/resource/img/key-fill.svg) no-repeat center; background-size: contain;}
.container-signin .form-floating.inputPassword .eye {position: absolute; top: 2px; right: 2px; background: transparent; border: none; opacity: .5;}

.container-signin .form-floating > label {padding: .95rem .75rem; margin-left: 1.85rem;}

/* 아이디 저장 */
.container-signin .checkbox label {font-size: 0.85rem;}
.container-signin .checkbox input[type="checkbox"] {vertical-align: -2px;}

/* 비밀번호 찾기/회원가입 */
.container-signin .link {margin-bottom: 10px;}
.container-signin .link a {position: relative; font-size: 0.875rem; font-weight: 700; color: #8B98A7;}
.container-signin .link a:after {content: ''; position: absolute; left: 0; top: 105%; width: 100%; height: 1px; background: rgba(139,152,167,.3);}
.container-signin .link a:hover {color: #555;}
.container-signin .link a:hover:after {background: #aaa;}
.container-signin .find-pw span {font-size: 0.875rem; font-weight: 500; color: #8B98A7;}

/* 로그인 버튼 */
.container-signin .btn {margin-top: 2.5rem; height: 3rem; border-radius: 10px; font-size: 1.125rem; font-weight: 500;}


/******************* 가입인증 *******************/
.container-signin.certi {text-align: center;}
.container-signin.certi .form-box {max-width: 460px;}
.container-signin.certi .title h1:after {display: none;}
.container-signin.certi .form-floating {position: relative; margin: 0 auto 10px; width: 70%;}
.container-signin.certi .form-floating > input {padding-left: .75rem; border-radius: 10px;}
.container-signin.certi .form-floating > label {margin-left: 0; font-size: 0.938rem;}

/* 계정생성 버튼 */
.container-signin.certi .reg-btn {width: 70%;}
.container-signin .sub-txt {display: block; margin-top: 5px; color: #0b5ed7; font-size: 0.813rem; font-weight: 500;}
.container-signin.certi .sub-txt {transition: .3s; opacity: 0; transform: translateY(5px);}
.container-signin.certi .reg-btn:hover ~ .sub-txt {opacity: 1; transform: translateY(0);}


/******************* 회원가입 *******************/
.container-signin.register .agree {position: relative; display: inline-block; font-weight: 700;}
.container-signin.register .agree:after {content: ''; position: absolute; left: 115%; top: 50%; transform: translateY(-50%); width: 1px; height: 70%; background: #aaa;}
.container-signin.register .terms {position: relative; margin-left: 15px; color: #8B98A7; font-size: 0.85rem; font-weight: 500;}
.container-signin.register .terms:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px;}
.container-signin.register .terms:hover {font-weight: 700;}

.container-signin.register .form-box .form-floating {text-align: left;}
.container-signin.register .form-floating>.form-control:focus~label, 
.container-signin.register .form-floating>.form-control:not(:placeholder-shown)~label, 
.container-signin.register .form-floating>.form-select~label {transform: none; opacity: 1;}
.container-signin.register .form-box .form-floating > .form-control,
.container-signin.register .form-box .form-floating > .form-select {height: 2.5rem;}
.container-signin.register .form-floating > label {margin-left: -.95rem; padding: 0.75rem; font-size: 0.938rem;}
.container-signin.register .form-control {display: inline-block; width: 12.5rem; height: 2.5rem; margin-left: 4.688rem; padding: 0 0.75rem; font-size: 0.938rem;}

.container-signin.register .pw-wrap {position: relative; display: inline-block;}
.container-signin.register .form-floating.inputPassword:before {display: none;}
.container-signin.register .form-floating.inputPassword .eye {top: 0; right: 0; padding: 8px;}
.container-signin.register .sub-txt {text-align: left; margin-left: 4.688rem;}

.address {margin: 1.875rem 0 0;}
.address .postcode-wrap {position: relative; display: inline-block;}
.address .postcode-wrap .ri-search-line {position: absolute; top: 50%; right: .75rem; transform: translateY(-50%); font-weight: 700; opacity: .65;}
.address .zonecode {width: 100px;}
.address .memberAddr {display: block; width: 300px; margin: 5px 0 0 4.688rem;}
.address .addr2 {margin-top: -5px;}

.container-signin.register #detailAddr,
.container-signin.register input[type="email"] {width: 300px;}

/* 회원가입 - 약관 모달창 */
.container-signin.register .modal .btn {margin: 0.25rem; font-size: 1rem; height: auto; border-radius: 8px;}


/******************* 헤더 *******************/
.header {position: fixed; left: 0; top: 0; width: 100%; /* height: 9.25rem; */ background-color: #fff; box-shadow: rgb(20 20 20 / 6%) 0px 0px 0px 1px, rgb(20 20 20 / 8%) 0px 2px 4px 0px; z-index: 9;}
.header .logo {width: 130px;}
.header .logo img {width: 100%;}

.header .nav li {margin-right: 10px;}
.header .nav li:last-child {margin-right: 0;}
.header .nav-link {width: 5.25rem; color: #677381; text-align: center; font-size: 0.875rem; font-weight: 700; border-radius: 10px;}
.header .nav-link:hover,
.header .nav-link.active {color: #0a58ca; background: #EBF2FD;}
.header .nav-link i {display: block; margin-bottom: 5px; font-size: 1.5rem; font-weight: 400;}

.header .user-profile img {margin-right: 20px;}
.header .user-profile .dropdown-toggle:after {position: absolute; top: 50%; right: 0;}

.header .hd-sub {padding: 15px 80px; border-top: 1px solid rgba(139,152,167,.1); border-bottom: 1px solid rgba(139,152,167,.1);}
.header .hd-sub .inner {width: 1500px; margin: 0 auto; padding: 0 10px;}
.header .hd-sub p {font-weight: 700;}
.header .hd-sub .ico {width: 1rem; height: 1rem; background-color: rgba(255, 0, 0, 0.349); vertical-align: -3px;}


/******************* 푸터 *******************/
.footer {width: 1500px; margin: 0 auto; padding: 1rem 0; border-top: 1px solid #ced4da; font-size: 12px; color: #677381;}


/******************* 메인 대시보드 *******************/
#main {background: #F3F5F6; overflow: visible !important; padding-right: 0 !important;}
.dashboard {max-width: 1500px; margin: 0 auto; padding: 0 10px;}
/* 본문 */
.dashboard .contents {margin-top: 9.25rem; padding: 10px 0 1.5rem;}
.dashboard .contents .container {padding: 0;}
.dashboard .contents .row > div[class*="col"] > div {height: 100%; padding: 1.5rem; background-color: #fff; border-radius: 10px; box-shadow: rgba(65, 69, 88, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;}

/* 본문 - navbar */
.dashboard .navbar {flex-direction: column; justify-content: start; align-items: flex-start;}

/* 본문 - navbar - 날짜 */
.dashboard .date-wrap {margin-top: 7px; font-size: 0.875rem;}
.dashboard .date-wrap .day {margin-right: 2px; font-size: 1rem; font-weight: 700; vertical-align: middle;}
.dashboard .date-wrap .state {padding: 5px 10px; font-size: 12px; font-weight: 500; background: #efefef; color: #677381; border-radius: 5px; vertical-align: middle;}
.dashboard .date-wrap .date {margin-top: 5px; font-size: 0.875rem;}
.dashboard .date-wrap .time {margin-top: 5px; font-size: 0.875rem; margin-left: 5px;}

/* 본문 - navbar - 출퇴근 */
.dashboard .work-onoff {margin-top: 1.5rem;}
.dashboard .work-onoff button {width: 48%; padding: 10px 10px 8px; font-size: 1rem; font-weight: 500; line-height: 1; background: #fff; color: #677381; border-radius: 8px; border: 1px solid #bababb; transition: .3s;}
.dashboard .work-onoff button:hover {-webkit-transform: translate3d(0,-3px,0); transform: translate3d(0,-3px,0); box-shadow: 0 8px 10px 0 #eee;}
.dashboard .workon {background: #a5a5a5; color: #fff;}
.dashboard .workon:hover {background: #4FAB67; border-color: #4FAB67; color: #fff;}
.dashboard .workoff:hover {background: #db5437; border-color: #db5437; color: #fff;}
.dashboard .work-onoff .time {font-size: 12px;}
.dashboard .work-onoff .message {position: relative; width: 100%; margin-top: 8px; padding: 7px 0; font-size: 0.813rem; font-weight: 700; text-align: center; color: #fff; border: 0; border-radius: 5px;}
.dashboard .work-onoff .message.workoff {background: #ffefeb; border: 1px solid #f9af9f; color: #db5437;}
.dashboard .work-onoff .message.workon {background: #eef7f1; border: 1px solid #9fd5ad; color: #4FAB67;}
.dashboard .work-onoff .message.working {background: #ecf4ff; border: 1px solid #c8deff; color: #1d71f0;}
.dashboard .work-onoff .message i {display: inline-block; width: 1rem; height: 1rem; vertical-align: -4px; margin-right: 8px;}
.dashboard .work-onoff .message.workon i {background: url(/resource/img/waving-hand.png) no-repeat center; background-size: cover;}
.dashboard .work-onoff .message.working i {background: url(/resource/img/thumbs-up.png) no-repeat center; background-size: cover;}
.dashboard .work-onoff .message.workoff i {background: url(/resource/img/rocket.png) no-repeat center; background-size: cover;}

/* 본문 - navbar - 실외 날씨 */
.dashboard .weather {margin-top: 2.5rem;}
.dashboard .weather .location {display: block; margin-bottom: 5px; font-size: 1.15rem; font-weight: 700;}
.dashboard .weather .pic,
.dashboard .weather .txt {width: 50%;}
.dashboard .weather .pic {display: inline-block; width: 70px; height: 70px; background: #fafafa; vertical-align: middle;}
.dashboard .weather .txt {text-align: center;}
.dashboard .weather .txt .ondo {font-weight: 700; font-size: 1.5rem; vertical-align: top; line-height: 1;}
.dashboard .weather .txt .nal {font-weight: 500; font-size: 0.938rem;}

/* 본문 - navbar - 실내 온도 */
.dashboard .weather.indoor li {font-size: 0.938rem; margin-bottom: 3px;}
.dashboard .weather.indoor li span {color: #555; font-weight: 500; line-height: 1.4;}
.dashboard .weather.indoor li em {font-weight: 700;}
.dashboard .weather.indoor li em.air {padding: 3px 5px 1px; font-size: 13px; background: #efefef; border-radius: 5px;}
.dashboard .weather.indoor li em.good {color: #27BCFD;}

/* 본문 - navbar - 업무/결재 작성 및 휴가신청 */
.dashboard .btn-list {width: 100%; margin-top: 2.5rem; text-align: center;}
.dashboard .btn-list li {margin-bottom: 6px;}
.dashboard .btn-list li:last-child {margin-bottom: 0;}
.dashboard .btn-list .btn {width: 100%; padding: 12px 0; color: #fff; background-color: #434b56; border-color: transparent; font-weight: 700; transition: .3s;}
.dashboard .btn-list .btn:hover {-webkit-transform: translate3d(0,-3px,0); transform: translate3d(0,-3px,0); box-shadow: 0 5px 10px 3px rgba(0,0,0,.15);}

/* 본문 - 일정관리 캘린더 */
.dashboard .tab-btns {position: relative; display: inline-block;}
.dashboard .tab-btns li {display: inline-block; position: relative; z-index: 2;}
.dashboard .tab-btns li .btn {width: 3.5rem; padding: 0.3rem 0; font-size: 13px; font-weight: 700; color: #677381; border-radius: 8px; transition: none;}
.dashboard .tab-btns li .btn:hover {background: none;}
.dashboard .tab-btns li .btn-check:focus+.btn,
.dashboard .tab-btns li .btn:focus {box-shadow: none;}
.dashboard .tab-btns li.active .btn {background: #fff; box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);}

.dashboard .calendar-wrap .schedule-btn {padding: 0.375rem 1.75rem; font-size: 0.875rem; font-weight: 700; color: #677381; background: #fff; border: 1px solid #ced4da; border-radius: 8px; transition: none;}
.dashboard .calendar-wrap .schedule-btn:hover {background: #0a58ca; color: #fff; border: 1px solid #0a58ca;}

/* 본문 - 일정 등록 모달창 */
.dashboard .modal .schedule-form {margin-top: 1rem;}
.dashboard .modal .schedule-form .form-floating {width: 100%;}
.dashboard .modal .schedule-form textarea {padding: .375rem .75rem; height: 5rem;}

.dashboard .modal .schedule-form .th {position: relative; padding-left: 1rem; width: 25%; min-width: 6.25rem; max-width: 6.25rem; font-size: 1rem; font-weight: 500;}
.dashboard .modal .schedule-form .th:before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 50%; background: #eee;}
.dashboard .modal .schedule-form .td {display: flex; width: 100%; position: relative;}

.dashboard .modal .schedule-form > ul > li {display: flex; align-items: center; padding: 1rem; border-bottom: 1px solid #eee;}
.dashboard .modal .schedule-form > ul > li:first-child {padding-top: 0;}
.dashboard .modal .schedule-form > ul > li:last-child {padding-bottom: 0; border-bottom: 0;}

.dashboard .modal .schedule-form-ul li.date .icon-date {display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; width: 38px; height: 100%; background: #eee; border-radius: 0 8px 8px 0; border: 1px solid #ced4da; font-size: 1.25rem;}

.dashboard .modal .schedule-form-ul li.time .td {flex-wrap: wrap;}
.dashboard .modal .schedule-form-ul li.time .td > div {margin-bottom: 8px;}
.dashboard .modal .schedule-form-ul li.time .td > div:last-child {margin-bottom: 0;}

.dashboard .modal .schedule-form-ul li.time .form-control {display: inline-block; width: 70%;}
.dashboard .modal .schedule-form-ul li.time .tab-btns {display: block; width: 100%;}

.dashboard .modal .schedule-form-ul li.time .select-box {display: flex; align-items: center; width: 100%;}
.dashboard .modal .schedule-form-ul li.time .select-box .txt {margin: 0 8px; font-size: 14px; font-weight: 500; color: #677381;}
.dashboard .modal .schedule-form-ul li.time .select-box .all-day {margin-left: 8px; height: 100%; font-size: 14px; font-weight: 700; border: 1px solid #ced4da; border-radius: 8px; color: #677381; transition: none;}
.dashboard .modal .schedule-form-ul li.time .select-box .all-day:focus {box-shadow: none;}
.dashboard .modal .schedule-form-ul li.time .select-box .all-day.active {background-color: #434b56; border-color: #434b56; color: #fff;}
/* .dashboard .modal .schedule-form-ul li.time .btn {padding: ;} */

.dashboard .modal .schedule-form .btn:hover {background-color: #f5f6f7;}
.dashboard .modal .schedule-form .btn.add {border: 1px solid #ced4da; margin-left: 8px; padding: 0.125rem 0.5rem;}
.dashboard .modal .schedule-form .btn.add i {font-size: 1.25rem;}

/* fullCalendar.js custom */
#calendar {margin-top: 1rem;}
#calendar th,
#calendar td {font-size: 13px;}
#calendar th {padding: 3px 0; font-weight: 700;}

.fc .fc-button {font-size: 0.875rem !important; background: #fff !important; color: #677381 !important; border: 1px solid #ced4da !important; border-radius: 8px !important;}
.fc .fc-button:disabled {opacity: 1;}
.fc .fc-button .fc-icon {
    line-height: 90%;
}
.fc .fc-button-primary:disabled {background: #434b56;}
.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:focus,
.fc .fc-button:focus {box-shadow: none;}
.fc .fc-toolbar-title {line-height: 0;}
.fc .fc-daygrid-day.fc-day-today {background-color: rgba(235,242,253, 1);}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {font-weight: 700;}

/* 본문 - 알림 인벤토리 */
.dashboard .alarms .title {display: block; padding-bottom: 1rem; border-bottom: 1px solid #eee;}
.dashboard .alarms .title .txt {font-weight: 700; font-size: 1rem;}
.dashboard .alarms .title .more {background: #fff; border: 1px solid #ced4da; color: #677381; font-weight: 500; font-size: 0.875rem;}
.dashboard .alarms .title .more:hover {background: #F6F7F8;}
.dashboard .alarm-ul {margin-top: 1.5rem;}
.dashboard .alarm-li {position: relative; margin-bottom: 6px; font-size: 13px; font-weight: 500; background: #ddd; border-radius: 5px;}
.dashboard .alarm-li.required {background: #FEF0E8; color: #F58344;}
.dashboard .alarm-li.info {background: #E5F7FF; color: #27BCFD;}
.dashboard .alarm-li.reject {background: #FCE7EB; color: #E73C5B;}
.dashboard .alarm-li.ok {background: #E0FAEF; color: #08D47E;}
.dashboard .alarm-li.warning {background: #FCF8E3; color: #FFB74B;}
.dashboard .alarm-li a {width: 100%; height: 100%; padding: 12px 10px;}
.dashboard .alarm-li a > i {margin-right: 10px; vertical-align: middle; font-size: 14px;}
.dashboard .alarm-li .close {position: absolute; top: 10px; right: 10px; padding: 0; height: 20px; width: 20px; text-align: center; line-height: 19px; background: none; border: 0; z-index: 9;}
.dashboard .alarm-li .close i {font-size: 1.125rem;}
.dashboard .alarm-li.info .close i {color: #27BCFD;}
.dashboard .alarm-li.reject .close i {color: #E73C5B;}
.dashboard .alarm-li.ok .close i {color: #08D47E;}
.dashboard .alarm-li.warning .close i {color: #FFB74B;}


/******************* 대시보드 : 인사카드 *******************/
.dashboard.hr .contents {margin-top: 9.5rem;}
.dashboard.hr .tab-btns,
.dashboard.hr .tab-btns ul {width: 100%;}
.dashboard.hr .tab-btns li {width: 20%;}
.dashboard.hr .tab-btns li .btn {width: 100%; padding: 8px 0; font-size: 1rem;}

/* 인사카드 본문 - 직원 목록 */
.dashboard.hr .contents .row > div[class*="col"] > div.accordion {padding: 0;}

.dashboard.hr .department .department-all {margin-bottom: 5px;}
.dashboard.hr .department .department-sub-ul .list-group-item {padding: 0; border: 0; font-size: 0.938rem;}
.dashboard.hr .department .department-sub-ul li {position: relative;}
.dashboard.hr .department .department-sub-ul li:before {content: ''; width: 15px; height: 26px; left: 0; top: 0; background: url(/resource/img//resourcepx_tree.png) no-repeat top 5px center; background-size: contain;}
.dashboard.hr .department .department-sub-ul .name {margin-left: 8px; font-weight: 500;}

.dashboard.hr .btn-list {margin-top: 1.5rem;}

/* 가입인증전송 모달 */
.dashboard.hr .reg-send-btn {position: relative;}
.dashboard.hr .reg-send.modal {display: block; position: absolute; top: calc(100% + 8px); left: 50%; overflow: visible; transform: translateX(-80%); display: none;}
.dashboard.hr .reg-send.modal .modal-content {width: 18.75rem;}

.dashboard.hr .staff-list .chkbox {display: flex;}
.dashboard.hr .staff-list .chkbox label.btn {font-size: 14px;}

.dashboard.hr .staff-ul {padding: 1.5rem 0;}
.dashboard.hr .staff-li {margin-bottom: 10px;}
.dashboard.hr .staff-li:last-child {margin-bottom: 0;}
.dashboard.hr .staff-li a {display: block; font-size: 0.875rem; overflow: hidden;}
.dashboard.hr .staff-li .left,
.dashboard.hr .staff-li .right {float: left;}
.dashboard.hr .staff-li .left img {margin-right: 8px; vertical-align: middle;}
.dashboard.hr .staff-li .right {width: calc(100% - 40px);}
.dashboard.hr .staff-li .right .name {font-weight: 700;}
.dashboard.hr .staff-li .right .icon {margin-left: 4px; padding: 4px; background: #F6F7F8; color: #677381; font-size: 12px; font-weight: 700; border-radius: 5px; line-height: 1;}
.dashboard.hr .staff-li .txt {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 13px; font-weight: 500; line-height: 1.4;}

.dashboard.hr .staff-list .btn.more {width: 100%; padding: 12px 0; color: #fff; background-color: #434b56; font-weight: 700; transition: .3s;}
.dashboard.hr .staff-list .btn.more:hover {-webkit-transform: translate3d(0,-3px,0); transform: translate3d(0,-3px,0); box-shadow: 0 5px 10px 3px rgb(0 0 0 / 15%);}

/* 인사카드 본문 - 폼 */
.dashboard.hr .contents .row > div[class*="col"] > div {height: auto; box-shadow: none;}

.dashboard.hr .section {margin-top: 2rem;}
.dashboard.hr .section > h6 {font-weight: 700;}
.dashboard.hr .form-floating {display: flex; align-items: center; padding: 0 !important; font-size: 0.938rem;}
.dashboard.hr .form-floating > label.th {position: relative; width: 6.25rem; max-width: 6.25rem; height: auto; padding: .75rem .75rem .75rem 0;}
.dashboard.hr .form-floating input,
.dashboard.hr .form-floating select {width: auto !important; height: 2.25rem; max-height: 2.25rem; padding: .5rem; font-size: 0.938rem; line-height: 1;}
.dashboard.hr .form-floating select {padding-right: 2rem;}
.dashboard.hr .form-floating .date {width: 11.625rem !important;}

.dashboard.hr .address {margin-top: 0;}
.dashboard.hr .address .memberAddr {margin: 8px; width: 300px !important;}
.dashboard.hr .address .zonecode {width: 6.25rem !important; padding: 0.4rem 0.75rem; font-size: 0.938rem;}
.dashboard.hr .address .addr1 {margin: -3px 0 2px;}

.hr-admin-form.info2 {margin-top: 3.2rem;}
.hr-admin-form.info2 .form-floating.photo {align-items: flex-start; margin-bottom: 4px;}
.hr-admin-form.info2 .form-floating.photo label {padding-top: 0;}
.hr-admin-form.info2 .form-floating.photo .img {width: 7.5rem; height: 9.375rem; background: #eee url(/resource/img/default-avatar.png) no-repeat bottom; background-size: contain;}
.hr-admin-form.info2 .form-floating.photo .btn.setting {margin-top: -0.75rem;}

.hr-admin-form.info2 .switches .form-floating .th {padding: .5rem .75rem .5rem 0;}
.hr-admin-form.info2 .switch + .txt {font-size: 13px; font-weight: 500; display: none;}
.hr-admin-form.info2 .switch + .txt.ok {color: #0d6efd;}
.hr-admin-form.info2 .switch + .txt.lack {color: #FFB74B;}



